@model AnlandProject.Service.BusinessModel.DefaultDataModel
@{
    ViewBag.Title = "基隆市安樂地政事務所全球資訊網 - 最新消息";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

@section AdditionalMeta
{
    <link rel="govtwsimpledc.xsd" href="http://www.gov.tw/schema/dc/" title="Dublin Core">
    <meta name="DC.Title" content="基隆市安樂地政事務所全球資訊網 - 最新消息">
    <meta name="DC.Creator" content="基隆市安樂地政事務所登記課">
    <meta name="DC.Subject" content="最新消息總覽頁">
    <meta name="DC.Description" content="最新消息">
    <meta name="DC.Contributor" content="基隆市安樂地政事務所">
    <meta name="DC.Type" content="文字">
    <meta name="DC.Format" content="text/html">
    <meta name="DC.Source" content="基隆市安樂地政事務所">
    <meta name="DC.Language" content="中文">
    <meta name="DC.Coverage.t.max" content="2015-04-26">
    <meta name="DC.Coverage.t.min" content="2010-04-26">
    <meta name="DC.Publisher" content="基隆市安樂地政事務所">
    <meta name="DC.Date" content="2010-04-26 10:00 ">
    <meta name="DC.Identifier" content="376570600A">
    <meta name="DC.Relation" content="http://anleh-land.gov.tw/">
    <meta name="DC.Rights" content="基隆市安樂地政事務所">
    <meta name="Category.Theme" content="140">
    <meta name="Category.Cake" content="CK0">
    <meta name="Category.Service" content="I40">
    <meta name="Keywords" content="最新消息, 公告">
}

<!-- 公告區 -->
<div class="container d-print-none">
    <div class="pl-3">
        <a accesskey="C" href="#content" id="content" title="中央內容區塊">:::</a>
        <span class="sr-only">|</span>
        <a class="sr-only sr-only-focusable" href="#footer">轉跳至下方功能區</a>
    </div>
    <div class="row justify-content-between align-items-center">
        <!-- 麵包屑麵包屑 -->
        <div class="col-lg-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item pathTitle">現在位置</li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">首頁</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("News","Announcement")">公告資訊</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="@Url.Action("News","Announcement")">最新消息</a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6 d-flex justify-content-end align-items-center">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <a class="btn btn-fb btn-sm" role="button" title="網站分享至facebook(另開視窗)" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://anleh-land.gov.tw/">
                    <span class="fab fa-facebook-square"></span>
                </a>
                <a class="btn btn-print btn-sm" role="button" title="列印(另開視窗)" target="_blank" href="javascript:print()">
                    <span class="far fa-print"></span>
                </a>
                <span class="fontSizeSet">字級設定：</span>
                <div class="btn-group fontSizeSetGroup btn-group-toggle mr-3" data-toggle="buttons">
                    <label class="btn btn-outline-secondary btn-sm font-small" for="option1">
                        <span class="sr-only">小字型</span>
                        <input type="radio" name="小字型" title="小字型" id="option1" autocomplete="off"> 小
                    </label>
                    <label class="btn btn-outline-secondary btn-sm font-default active" for="option2">
                        <span class="sr-only">中字型</span>
                        <input type="radio" name="中字型" title="中字型" id="option2" autocomplete="off" checked> 中
                    </label>
                    <label class="btn btn-outline-secondary btn-sm font-large" for="option3">
                        <span class="sr-only">大字型</span>
                        <input type="radio" name="大字型" title="大字型" id="option3" autocomplete="off"> 大
                    </label>
                </div>
            </div>
        </div>
        <!-- /麵包屑 -->
    </div>
</div>
<!-- 內文區 -->
<div class="container">
    <div class="row">
        <div class="card ml-3 mr-3 mt-3 subContent">
            <div class="card-body">
                <div class="markTag"></div>
                <h2>@Model.Subject</h2>
                <p class="content-info">
                    <span>類別：@Model.Author</span>
                    <span>發布日期：@Model.PostDate.Value.ToString("yyyy/MM/dd")</span>
                </p>
                <p>
                    <span style="white-space: pre-line">
                        @HttpUtility.HtmlDecode(Model.Body)
                    </span>
                </p>
                <div class="alert alert-secondary bg-lightreay pt-4" role="alert">
                    @{int index = 0; }
                    @if (!string.IsNullOrWhiteSpace(Model.Homepage2))
                    {
                        <p>
                            <span class="fas fa-caret-right"></span>
                            <span>
                                檔案
                                <span class="text-red">@(index += 1)</span>：
                            </span>
                            <a href="@Url.Action("Download","Announcement")?type=News&fileName=@Model.Homepage2" target="_blank" title="開啟新視窗">
                                @if (string.IsNullOrWhiteSpace(Model.Homepage2))
                                {
                                    @Model.Homepage2
                                }
                                else
                                {
                                    @Model.File1Momo
                                }
                                
                                @if (Model.Homepage2.ToLower().Contains("pdf"))
                                {
                                    <span class="fas fa-file-pdf" title="PDF檔"></span>
                                }
                                else if (Model.Homepage2.ToLower().Contains("doc") || Model.Homepage2.ToLower().Contains("docx"))
                                {
                                    <span class="fas fa-file-word" title="WORD檔"></span>
                                }
                                else if (Model.Homepage2.ToLower().Contains("xls") || Model.Homepage2.ToLower().Contains("xlsx"))
                                {
                                    <span class="fas fa-file-excel" title="Excel檔"></span>
                                }
                                else if (Model.Homepage2.ToLower().Contains("png") || Model.Homepage2.ToLower().Contains("jpg"))
                                {
                                    <br><img class="img-bordered img-bordered-primary appendPic" src="@Model.Homepage2ImgUrl/news/@Model.Homepage2" alt="圖片@(index += 1)">
                                }
                            </a>
                        </p>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Homepage3))
                    {
                        <p>
                            <span class="fas fa-caret-right"></span>
                            <span>
                                檔案
                                <span class="text-red">@(index += 1)</span>：
                            </span>
                            <a href="@Url.Action("Download","Announcement")?type=News&fileName=@Model.Homepage3" target="_blank" title="開啟新視窗">
                                @if (string.IsNullOrWhiteSpace(Model.File2Momo))
                                {
                                    @Model.Homepage3
                                }
                                else
                                {
                                    @Model.File2Momo
                                }
                                
                                @if (Model.Homepage3.ToLower().Contains("pdf"))
                                {
                                    <span class="fas fa-file-pdf" title="PDF檔"></span>
                                }
                                else if (Model.Homepage3.ToLower().Contains("doc") || Model.Homepage3.ToLower().Contains("docx"))
                                {
                                    <span class="fas fa-file-word" title="WORD檔"></span>
                                }
                                else if (Model.Homepage3.ToLower().Contains("xls") || Model.Homepage3.ToLower().Contains("xlsx"))
                                {
                                    <span class="fas fa-file-excel" title="Excel檔"></span>
                                }
                                else if (Model.Homepage3.ToLower().Contains("png") || Model.Homepage3.ToLower().Contains("jpg"))
                                {
                                    <br><img class="img-bordered img-bordered-primary appendPic" src="@Model.Homepage3ImgUrl/news/@Model.Homepage3" alt="圖片@(index += 1)">
                                }
                            </a>
                        </p>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Homepage4))
                    {
                        <p>
                            <span class="fas fa-caret-right"></span>
                            <span>
                                檔案
                                <span class="text-red">@(index += 1)</span>：
                            </span>
                            <a href="@Url.Action("Download","Announcement")?type=News&fileName=@Model.Homepage4" target="_blank" title="開啟新視窗">
                                @if (string.IsNullOrWhiteSpace(Model.File3Momo))
                                {
                                    @Model.Homepage4
                                }
                                else
                                {
                                    @Model.File3Momo
                                }
                                @if (Model.Homepage4.ToLower().Contains("pdf"))
                                {
                                    <span class="fas fa-file-pdf" title="PDF檔"></span>
                                }
                                else if (Model.Homepage4.ToLower().Contains("doc") || Model.Homepage4.ToLower().Contains("docx"))
                                {
                                    <span class="fas fa-file-word" title="WORD檔"></span>
                                }
                                else if (Model.Homepage4.ToLower().Contains("xls") || Model.Homepage4.ToLower().Contains("xlsx"))
                                {
                                    <span class="fas fa-file-excel" title="Excel檔"></span>
                                }
                                else if (Model.Homepage4.ToLower().Contains("png") || Model.Homepage4.ToLower().Contains("jpg"))
                                {
                                    <br><img class="img-bordered img-bordered-primary appendPic" src="@Model.Homepage4ImgUrl/news/@Model.Homepage4" alt="圖片@(index += 1)">
                                }
                            </a>
                        </p>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Homepage5))
                    {
                        <p>
                            <span class="fas fa-caret-right"></span>
                            <span>
                                檔案
                                <span class="text-red">@(index += 1)</span>：
                            </span>
                            <a href="@Url.Action("Download","Announcement")?type=News&fileName=@Model.Homepage5" target="_blank" title="開啟新視窗">
                                @if (string.IsNullOrWhiteSpace(Model.File4Momo))
                                {
                                    @Model.Homepage5
                                }
                                else
                                {
                                    @Model.File4Momo
                                }
                                @if (Model.Homepage5.ToLower().Contains("pdf"))
                                {
                                    <span class="fas fa-file-pdf" title="PDF檔"></span>
                                }
                                else if (Model.Homepage5.ToLower().Contains("doc") || Model.Homepage5.ToLower().Contains("docx"))
                                {
                                    <span class="fas fa-file-word" title="WORD檔"></span>
                                }
                                else if (Model.Homepage5.ToLower().Contains("xls") || Model.Homepage5.ToLower().Contains("xlsx"))
                                {
                                    <span class="fas fa-file-excel" title="Excel檔"></span>
                                }
                                else if (Model.Homepage5.ToLower().Contains("png") || Model.Homepage5.ToLower().Contains("jpg"))
                                {
                                    <br><img class="img-bordered img-bordered-primary appendPic" src="@Model.Homepage5ImgUrl/news/@Model.Homepage5" alt="圖片@(index += 1)">
                                }
                            </a>
                        </p>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Homepage6))
                    {
                        <p>
                            <span class="fas fa-caret-right"></span>
                            <span>
                                檔案
                                <span class="red">@(index += 1)</span>：
                            </span>
                            <a href="@Url.Action("Download","Announcement")?type=News&fileName=@Model.Homepage6" target="_blank" title="開啟新視窗">
                                @if (string.IsNullOrWhiteSpace(Model.File5Momo))
                                {
                                    @Model.Homepage6
                                }
                                else
                                {
                                    @Model.File5Momo
                                }
                                @if (Model.Homepage6.ToLower().Contains("pdf"))
                                {
                                    <span class="fas fa-file-pdf" title="PDF檔"></span>
                                }
                                else if (Model.Homepage6.ToLower().Contains("doc") || Model.Homepage6.ToLower().Contains("docx"))
                                {
                                    <span class="fas fa-file-word" title="WORD檔"></span>
                                }
                                else if (Model.Homepage6.ToLower().Contains("xls") || Model.Homepage6.ToLower().Contains("xlsx"))
                                {
                                    <span class="fas fa-file-excel" title="Excel檔"></span>
                                }
                                else if (Model.Homepage6.ToLower().Contains("png") || Model.Homepage6.ToLower().Contains("jpg"))
                                {
                                    <br><img class="img-bordered img-bordered-primary appendPic" src="@Model.Homepage6ImgUrl/news/@Model.Homepage6" alt="圖片@(index += 1)">
                                }
                            </a>
                        </p>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Homepage1))
                    {
                        <p>
                            <span class="fas fa-caret-right"></span>
                            <span>網址：</span>
                            <a href="@Model.Homepage1" target="_blank" title="@Model.HomepageMomo [開啟新視窗]">@Model.HomepageMomo</a>
                        </p>
                    }
                </div>
                <ul class="textUl-list content-info text-left">
                    <li>發布單位：基隆市安樂地政事務所</li>
                    <li>聯絡人：基隆市安樂地政事務所</li>
                    <li>聯絡電話：02-24324001</li>
                    <li>更新日期：2018/08/01</li>
                    <li>瀏覽人數：@string.Format("{0} 人", Model.Hit)</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-12 d-flex mt-3 justify-content-end align-items-center d-print-none">
            <a class="btn btn-primary btn-sm mr-3" role="button" href="@Url.Action("News","Announcement")">
                <span class="fal fa-external-link-square"></span> 回導覽頁
            </a>
        </div>
    </div>
</div>
<!-- /內文區 -->