
@{
    ViewBag.Title = "基隆市安樂地政事務所全球資訊網 - 網站導覽";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

@section AdditionalMeta
{
    <link rel="govtwsimpledc.xsd" href="http://www.gov.tw/schema/dc/" title="Dublin Core">
    <meta name="DC.Title" content="基隆市安樂地政事務所全球資訊網 - 網站導覽">
    <meta name="DC.Creator" content="基隆市安樂地政事務所登記課">
    <meta name="DC.Subject" content="基隆市安樂地政事務所 - 網站導覽">
    <meta name="DC.Description" content="本頁面為基隆市安樂地政事務所全球資訊網的網站導覽頁，提供您完整的網站目錄結構，並符合無障礙的規範。">
    <meta name="DC.Contributor" content="基隆市安樂地政事務所">
    <meta name="DC.Type" content="文字">
    <meta name="DC.Format" content="text/html">
    <meta name="DC.Source" content="基隆市安樂地政事務所">
    <meta name="DC.Language" content="中文">
    <meta name="DC.Coverage.t.max" content="2015-04-26">
    <meta name="DC.Coverage.t.min" content="2010-04-26">
    <meta name="DC.Publisher" content="基隆市安樂地政事務所">
    <meta name="DC.Date" content="2010-04-26 10:00 ">
    <meta name="DC.Identifier" content="376570600A">
    <meta name="DC.Relation" content="http://anleh-land.gov.tw/">
    <meta name="DC.Rights" content="基隆市安樂地政事務所">
    <meta name="Category.Theme" content="140">
    <meta name="Category.Cake" content="J40">
    <meta name="Category.Service" content="I61">
    <meta name="Keywords" content="網站導覽, 本站的無障礙設計">
}

<!-- 公告區 -->
<div class="container d-print-none">
    <div class="pl-3">
        <a accesskey="C" href="#content" id="content" title="中央內容區塊">:::</a>
        <span class="sr-only">|</span>
        <a class="sr-only sr-only-focusable" href="#footer">轉跳至下方功能區</a>
    </div>
    <div class="row justify-content-between align-items-center">
        <!-- 麵包屑麵包屑 -->
        <div class="col-lg-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item pathTitle">現在位置</li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">首頁</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">網站導覽</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6 d-flex justify-content-end align-items-center">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <a class="btn btn-fb btn-sm" role="button" role="button" title="網站分享至facebook(另開視窗)" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://anleh-land.gov.tw/">
                    <span class="fab fa-facebook-square"></span>
                </a>
                <a class="btn btn-print btn-sm" role="button" title="列印(另開視窗)" target="_blank" href="javascript:print()">
                    <span class="far fa-print"></span>
                </a>
                <span class="fontSizeSet">字級設定：</span>
                <div class="btn-group fontSizeSetGroup btn-group-toggle mr-3" data-toggle="buttons">
                    <label class="btn btn-outline-secondary btn-sm font-small" for="option1">
                        <span class="sr-only">小字型</span>
                        <input type="radio" name="小字型" title="小字型" id="option1" autocomplete="off"> 小
                    </label>
                    <label class="btn btn-outline-secondary btn-sm font-default active" for="option2">
                        <span class="sr-only">中字型</span>
                        <input type="radio" name="中字型" title="中字型" id="option2" autocomplete="off" checked> 中
                    </label>
                    <label class="btn btn-outline-secondary btn-sm font-large" for="option3">
                        <span class="sr-only">大字型</span>
                        <input type="radio" name="大字型" title="大字型" id="option3" autocomplete="off"> 大
                    </label>
                </div>
            </div>
        </div>
        <!-- /麵包屑 -->
    </div>
</div>
<!-- 內文區 -->
<div class="container">
    <div class="row">
        <div class="card ml-3 mr-3 mt-3 subContent">
            <div class="card-body">
                <div class="markTag"></div>
                <h2>本站的無障礙設計</h2>
                <p class="txtgreen">
                    本網站秉持世界性的無障礙網頁設計原則而建置，網站的主要樣版內容分為三個區塊：
                    <br> 1)導覽連結區、2)主要內容區，以及3)隱私權及下載內容區。
                </p>
                <h3>
                    <span class="fas fa-bookmark"></span> 本網站的便捷鍵﹝Accesskey，也稱為快速鍵﹞設定如下：
                </h3>
                <p>Alt+U：右上方導覽連結區，此區塊列有本網站的主要連結。</p>
                <p>Alt+C：主要內容區，此區塊呈現各網頁的網頁內容。</p>
                <p>Alt+Z：下方功能連結區，此區塊為胖頁尾連結及站內相關說明連結區。</p>
                <h3>
                    <span class="fas fa-bookmark"></span> 本網站的便捷鍵﹝Accesskey，也稱為快速鍵﹞設定如下：
                </h3>
                <div class="card flex-row">
                    <ul class="list-group mb-3">
                        <li class="list-group-title">機關簡介</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("Intro","Organs")" class="">本所沿革</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("Precinct","Organs")" class="">轄區簡介</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("Organization","Organs")" class="">組織職掌</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("FloorIntro","Organs")" class="">樓層介紹</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("ContactInfo","Organs")" class="">聯絡資訊</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("GeoTraffic","Organs")" class="">地理交通</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AdmRegulation","Organs")" class="">行政規章專區</a>
                        </li>
                    </ul>
                    <ul class="list-group mb-3">
                        <li class="list-group-title">公告資訊</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("News","Announcement")">最新消息</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("Laws","Announcement")">法令新訊</a>
                        </li>
                    </ul>
                    <ul class="list-group mb-3">
                        <li class="list-group-title">線上查詢</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="#">登記類</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="https://landquery.klcg.gov.tw/query/casedo.jsp?menu=true&type=M">測量類</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="https://landquery.klcg.gov.tw/query/valueprice.jsp">地價類</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="https://landquery.klcg.gov.tw/query/calc1.jsp?menu=true">登記規費試算</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="https://landquery.klcg.gov.tw/query/calc7.jsp?menu=true">測量規費試算</a>
                        </li>
                    </ul>
                    <ul class="list-group mb-3">
                        <li class="list-group-title">線上申辦</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppCopy","OnlineApplication")">網路申領電子謄本</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("InfoService","OnlineApplication")">地政電傳資訊服務</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppOnline","OnlineApplication")">地政線上申辦系統</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppBackup","OnlineApplication")">檔案閱覽抄錄複製</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("PriceInfo","OnlineApplication")">歷年公告地價資料</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("EngEstate","OnlineApplication")">英文不動產權利登記證明</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("OnlineBooking","OnlineApplication")">線上預約</a>
                        </li>
                    </ul>
                    <ul class="list-group mb-3">
                        <li class="list-group-title">申請須知</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppRegister","ApplicationNotes")">登記類</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppMeasure","ApplicationNotes")">測量類</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppLandPrice","ApplicationNotes")">地價類</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppDuplicate","ApplicationNotes")">謄本類</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppLandData","ApplicationNotes")">土地基本資料庫</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppHandy","ApplicationNotes")">地政便利包</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppDocument","ApplicationNotes")">附繳證件來源機關</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppCorrection","ApplicationNotes")">常見補正事項</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppDownload","ApplicationNotes")">下載專區</a>
                        </li>

                    </ul>
                    <ul class="list-group mb-3">
                        <li class="list-group-title">便民服務</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("OneStop","PublicServices")">臨櫃服務</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppEmail","PublicServices")">通信服務</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppCopy","OnlineApplication")">網路服務</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("TelVoice","PublicServices")">自動化服務</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("CrossCopy","PublicServices")">跨所跨縣市服務</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("OtherService","PublicServices")">其他服務</a>
                        </li>
                    </ul>
                    <ul class="list-group mb-3">
                        <li class="list-group-title">民意交流</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("EmailSuggest","OpinionExchange")">地政答客問</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("SuggestDirector","OpinionExchange")">主任信箱</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("Questionnaire","OpinionExchange")">網路投票</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("InnovationProposal","OpinionExchange")">民眾參與創新提案</a>
                        </li>
                    </ul>
                    <ul class="list-group mb-3">
                        <li class="list-group-title">分類檢索</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("Index","ClassificationSearch")">分類檢索</a>
                        </li>
                    </ul>
                </div>

                <p>發布單位：基隆市安樂地政事務所</p>
                <p>聯絡人：基隆市安樂地政事務所</p>
                <p>聯絡電話：02-24324001</p>
                <p>更新日期：2018/08/01</p>
            </div>
        </div>
        <div class="col-lg-12 d-flex mt-3 justify-content-end align-items-center d-print-none">
            <a class="btn btn-primary btn-sm mr-3" role="button" href="#">
                <span class="fal fa-external-link-square"></span> 回導覽頁
            </a>
        </div>
    </div>
</div>
<!-- /內文區 -->