@{
    Layout = null;
}

<div class="container">
    <a accesskey="Z" href="#footer" id="footer" title="下方功能區塊">:::</a>
    <span class="sr-only">|</span>
    <a class="sr-only sr-only-focusable" href="#topMenu">轉跳至右上方功能區塊</a>
</div>
<div class="jumbotron jumbotron-fluid p-0 m-0 footerMenu d-none d-lg-block">
    <div class="container">
        <div class="row pl-3 pb-3">
            <div class="col text-center">
                <a class="btn btn-brown tr-0" data-toggle="collapse" href="#collapsefooterMenu" role="button" aria-expanded="false" aria-controls="collapsefooterMenu">
                    收合
                </a>
            </div>
            <div class="pt-4 w-100 collapse show" id="collapsefooterMenu">
                <div class="card flex-row">
                    <ul class="list-group mb-3">
                        <li class="list-group-title">機關簡介</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("Intro","Organs")" class="">本所沿革</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("Precinct","Organs")" class="">轄區簡介</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("Organization","Organs")" class="">組織職掌</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("FloorIntro","Organs")" class="">樓層介紹</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("ContactInfo","Organs")" class="">聯絡資訊</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("GeoTraffic","Organs")" class="">地理交通</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AdmRegulation","Organs")" class="">行政規章專區</a>
                        </li>
                    </ul>
                    <ul class="list-group mb-3">
                        <li class="list-group-title">公告資訊</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("News","Announcement")">最新消息</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("Laws","Announcement")">法令新訊</a>
                        </li>
                    </ul>
                    <ul class="list-group mb-3">
                        <li class="list-group-title">線上查詢</li>
                        <li class="list-group-subtitle">登記類</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="https://landquery.klcg.gov.tw/query/r48.jsp" target="_blank" title="開啟新的導覽視窗">區段代碼對照</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="https://landquery.klcg.gov.tw/query/oldnew.jsp" target="_blank" title="開啟新的導覽視窗">新舊地、建號查詢</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="https://landquery.klcg.gov.tw/query/opendata1.jsp" target="_blank" title="開啟新的導覽視窗">第一次登記公告</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="https://landquery.klcg.gov.tw/query/opendata2.jsp" target="_blank" title="開啟新的導覽視窗">書狀補給公告</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("OInheritance","OnlineSearch")">逾期未辦繼承公告查詢</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("InheritanceLand","OnlineSearch")">未辦繼承列管土地資料</a>
                        </li>
                        <li class="hr-divider"></li>
                        <li class="list-group-item list-group-item-action">
                            <a href="https://landquery.klcg.gov.tw/query/casedo.jsp?menu=true&type=M" target="_blank" title="開啟新的導覽視窗">測量類</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="https://landquery.klcg.gov.tw/query/valueprice.jsp?menu=true" target="_blank" title="開啟新的導覽視窗">地價類</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="https://landquery.klcg.gov.tw/query/calc1.jsp?menu=true" target="_blank" title="開啟新的導覽視窗">登記規費試算</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="https://landquery.klcg.gov.tw/query/calc7.jsp?menu=true" target="_blank" title="開啟新的導覽視窗">測量規費試算</a>
                        </li>
                    </ul>
                    <ul class="list-group mb-3">
                        <li class="list-group-title">線上申辦</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppCopy","OnlineApplication")">網路申領電子謄本</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("InfoService","OnlineApplication")">地政電傳資訊服務</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppOnline","OnlineApplication")">地政線上申辦系統</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppBackup","OnlineApplication")">檔案閱覽抄錄複製</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("PriceInfo","OnlineApplication")">歷年公告地價資料</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("EngEstate","OnlineApplication")">英文不動產權利登記證明</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("OnlineBooking","OnlineApplication")">線上預約</a>
                        </li>                        
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppDate","OnlineApplication")">人民申請案件辦理期限表</a>
                        </li>
                    </ul>
                    <ul class="list-group mb-3">
                        <li class="list-group-title">申請須知</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppRegister","ApplicationNotes")">登記類</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppMeasure","ApplicationNotes")">測量類</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppLandPrice","ApplicationNotes")">地價類</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppDuplicate","ApplicationNotes")">謄本類</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppLandData","ApplicationNotes")">土地基本資料庫</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppHandy","ApplicationNotes")">地政便利包</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppDocument","ApplicationNotes")">附繳證件來源機關</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppCorrection","ApplicationNotes")">常見補正事項</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppDownload","ApplicationNotes")">下載專區</a>
                        </li>

                    </ul>
                    <ul class="list-group mb-3">
                        <li class="list-group-title">便民服務</li>
                        <li class="list-group-subtitle">臨櫃服務</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("OneStop","PublicServices")">單一窗口服務</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("ServiceVolunteers","PublicServices")">服務台及志工服務</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("TwoWay","PublicServices")">謄本櫃檯雙向服務</a>
                        </li>
                        <li class="list-group-subtitle">通信服務</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppEmail","PublicServices")">通信申請</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("MailToHome","PublicServices")">案件郵寄到家</a>
                        </li>
                        <li class="list-group-subtitle">網路服務</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppCopy","OnlineApplication")">網路申領電子謄本</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("InfoService","OnlineApplication")">地政電傳資訊服務</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AppOnline","OnlineApplication")">地政線上申辦系統</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("EngEstate","OnlineApplication")">網路申領英文謄本</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("OnlineBooking","OnlineApplication")">線上預約</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("WebATM","PublicServices")">網路ATM</a>
                        </li>
                        <li class="list-group-subtitle">自動化服務</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("TelVoice","PublicServices")">電話語音查詢</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("AutoReply","PublicServices")">辦理情形自動回覆</a>
                        </li>
                        <li class="list-group-subtitle">跨所跨縣市服務</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("CrossCopy","PublicServices")">跨縣市申領謄本</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("CrossApplication","PublicServices")">跨所申辦登記案件</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("CrossEnglishApplication","PublicServices")">跨所申請英文不動產權利登記證明</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("CrossCollection","PublicServices")">跨縣市代收案件</a>
                        </li>
                        <li class="hr-divider"></li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("OtherService","PublicServices")">其他服務</a>
                        </li>
                    </ul>
                    <ul class="list-group mb-3">
                        <li class="list-group-title">民意交流</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("EmailSuggest","OpinionExchange")">地政答客問</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("SuggestDirector","OpinionExchange")">主任信箱</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("Questionnaire","OpinionExchange")">網路投票</a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("InnovationProposal","OpinionExchange")">民眾參與創新提案</a>
                        </li>
                    </ul>
                    <ul class="list-group mb-3">
                        <li class="list-group-title">分類檢索</li>
                        <li class="list-group-item list-group-item-action">
                            <a href="@Url.Action("Index","ClassificationSearch")">分類檢索</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>