<!doctype html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 分類檢索 Start -->
    @RenderSection("AdditionalMeta", false)
    <!-- 分類檢索 End -->
    <meta name="Accessible_website" content="本網站通過通過AAA優先等級無障礙網頁檢測">
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/images/logo.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/base/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/base/icon-css/all.min.css">
    <link rel="stylesheet" href="~/Content/base/css/datatables.min.css">
    <link rel="stylesheet" href="~/Content/base/plugin/DataTables-1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/base/css/base.min.css">
    @RenderSection("styles", false)

    <script src="~/Scripts/base/js/jquery.min.js"></script>
    <script src="~/Scripts/base/js/popper.min.js"></script>
    <script src="~/Scripts/base/js/bootstrap.min.js"></script>
    <script src="/Scripts/base/js/datatables.min.js"></script>
    <script src="/Scripts/base/plugin/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/base/js/base.js"></script>
</head>

<body>
    <!-- 表頭 -->
    @Html.Partial("~/Views/Shared/_Header.cshtml")
    <!-- /表頭 -->
    <!-- 主選單 -->
    @Html.Partial("~/Views/Shared/_MainMenu.cshtml")
    <!-- /主選單 -->
    <div>
        @RenderBody()
    </div>
    <!-- 胖頁尾 -->
    @Html.Partial("~/Views/Shared/_FatFooter.cshtml")
    <!-- /胖頁尾 -->
    <!-- 頁尾 -->
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    <!-- /頁尾 -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--
    <noscript>
        <div class="container">
            <div class="row">
                <div class="card m-3 banner">
                    <div class="card-body p-3">
                        您的瀏覽器不支援javascript，但不影響網頁內容陳述，如開啟JavaScript，可得到視覺與特效的最佳瀏覽
                        <br>列印功能：請按下ctrl+P開啟列印視窗,或由工具列中選擇列印功能
                        <br>如需要選擇字級大小，IE6請利用鍵盤按住ALT鍵+ V → X → (G)最大(L)較大(M)中(S)較小(A)小，來選擇適合您的文字大小， 而IE7或Firefox瀏覽器則可利用鍵盤 Ctrl + (+)放大(-)縮小來改變字型大小，如需要回到上一頁可使用瀏覽器提供的
                        Alt+左方向鍵(←)
                    </div>
                </div>
            </div>
        </div>
    </noscript>
    -->
</body>
</html>