<!doctype html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 分類檢索 Start -->
    @RenderSection("AdditionalMeta", false)
    <!-- 分類檢索 End -->
    <meta name="Accessible_website" content="本網站通過通過AA優先等級無障礙網頁檢測">
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/images/logo.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/base/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/base/icon-css/all.min.css">
    <link rel="stylesheet" href="~/Content/base/css/datatables.min.css">
    <link rel="stylesheet" href="~/Content/base/plugin/DataTables-1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/base/css/base.min.css">
    @RenderSection("styles", false)

    <script src="~/Scripts/base/js/jquery.min.js"></script>
    <script src="~/Scripts/base/js/popper.min.js"></script>
    <script src="~/Scripts/base/js/bootstrap.min.js"></script>
    <script src="/Scripts/base/js/datatables.min.js"></script>
    <script src="/Scripts/base/plugin/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/base/js/base.js"></script>
    <meta name="google-site-verification" content="eMOeU6CcS5-tLsdJOsXQAUErelpQLzyZAnqU1vCqMwQ" />
</head>

<body>
    <!-- 表頭 -->
    @Html.Partial("~/Views/Shared/_Header.cshtml")
    <!-- /表頭 -->
    <!-- 主選單 -->
    @Html.Partial("~/Views/Shared/_MainMenu.cshtml")
    <!-- /主選單 -->
    <div>
        @RenderBody()
    </div>
    <!-- 胖頁尾 -->
    @Html.Partial("~/Views/Shared/_FatFooter.cshtml")
    <!-- /胖頁尾 -->
    <!-- 頁尾 -->
    @Html.Partial("~/Views/Shared/_Footer.cshtml")
    <!-- /頁尾 -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>