
@{
    ViewBag.Title = "NewsEdit";
    Layout = "~/Views/Shared/_AnlandLayout.cshtml";
}

<div class="page-header">
    <h1 class="page-title">最新消息 - 編輯</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../index.html">首頁</a></li>
        <li class="breadcrumb-item active">最新消息</li>
    </ol>
    <div class="page-header-actions"></div>
</div>
<div class="page-content container-fluid">
    <form id="exampleFullForm" autocomplete="off">
        <!-- 分類檢索設定 -->
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title">
                    分類檢索設定
                </h3>
            </div>
            <div class="panel-body">
                <div class="row row-lg">
                    <div class="col-md-4 form-horizontal">
                        <!-- 主題分類 -->
                        <div class="form-group row">
                            <label class="col-xl-12 col-md-3" for="Theme">
                                主題分類
                                <span class="required">*</span>
                            </label>
                            <div class=" col-xl-12 col-md-9">
                                @Html.DropDownList("ThemeSelect", null, "請選擇主題分類代碼", new { @class = "show-tick", @data_plugin = "selectpicker", @id = "Theme",  @name = "Theme", @required = ""})
                            </div>
                        </div>
                        <!-- /主題分類 -->
                    </div>
                    <div class="col-md-4 form-horizontal">
                        <!-- 施政分類 -->
                        <div class="form-group row">
                            <label class="col-xl-12 col-md-3" for="Cake">
                                施政分類
                                <span class="required">*</span>
                            </label>
                            <div class=" col-xl-12 col-md-9">
                                @Html.DropDownList("CakeSelect", null, "請選擇施政分類代碼", new { @class = "show-tick", @data_plugin = "selectpicker", @id = "Cake", @name = "Cake", @required = "" })
                            </div>
                        </div>
                        <!-- /施政分類 -->
                    </div>
                    <div class="col-md-4 form-horizontal">
                        <!-- 服務分類 -->
                        <div class="form-group row">
                            <label class="col-xl-12 col-md-3" for="Service">
                                服務分類
                                <span class="required">*</span>
                            </label>
                            <div class=" col-xl-12 col-md-9">
                                @Html.DropDownList("ServiceSelect", null, "請選擇服務分類代碼", new { @class = "show-tick", @data_plugin = "selectpicker", @id = "Service", @name = "Service", @required = "" })
                            </div>
                        </div>
                        <!-- /服務分類 -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /分類檢索設定 -->
        <!-- 內文編輯區 -->
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title">內文編輯區</h3>
            </div>
            <div class="panel-body">
                <div class="row row-lg">
                    <div class="col-xl-5 form-horizontal">
                        <div class="form-group row">
                            <div class="col-xl-6 col-md-9">
                                <label class="form-control-label row" for="author">
                                    新聞類別
                                    <span class="required">*</span>
                                </label>
                                @Html.DropDownList("AuthorSelect", null, "請選擇訊息類別", new { @class = "show-tick", @data_plugin = "selectpicker", @id = "author", @name = "author", @required = "" })
                            </div>
                            <div class="col-xl-6 col-md-9">
                                <label class="form-control-label row">
                                    發布單位
                                    <span class="required">*</span>
                                </label>
                                <div class="input-group">
                                    <select class="show-tick" data-plugin="selectpicker" id="office" name="office" required="">
                                        <option value="">請選擇發布單位</option>
                                        <option>研考</option>
                                        <option>地價</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-6 col-md-9">
                                <label class="form-control-label row">
                                    連絡人
                                    <span class="required">*</span>
                                </label>
                                <input type="text" class="form-control" name="owner" placeholder="訊息聯絡人姓名" required="">
                            </div>
                            <div class="col-xl-6 col-md-9">
                                <label class="form-control-label row">
                                    連絡人電話
                                    <span class="required">*</span>
                                </label>
                                <input type="text" class="form-control" name="ownerPhone" placeholder="訊息聯絡人電話" required="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-6 col-md-9">
                                <div class="row">
                                    <label class="form-control-label">
                                        發布日期
                                        <span class="required">*</span>
                                    </label>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon wb-calendar" aria-hidden="true"></i>
                                    </span>
                                    <input type="text" class="form-control" data-plugin="datepicker" data-Format="yyyy/mm/dd" data-language="zh-TW" name="postdate" placeholder="YYYY/MM/DD" data-fv-notempty="true" data-fv-notempty-message="請輸入發布日期，格式範例：2018/10/05" required="">
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-9">
                                <div class="row">
                                    <label class="form-control-label">
                                        公告期限
                                        <span class="panel-desc">※ 若無期限請空白</span>
                                    </label>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon wb-calendar" aria-hidden="true"></i>
                                    </span>
                                    <input type="text" class="form-control" data-plugin="datepicker" data-Format="yyyy/mm/dd" data-language="zh-TW" name="enddate" placeholder="YYYY/MM/DD">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-12 col-md-3 form-control-label">
                                相關網址：
                            </label>
                            <div class="col-xl-12 col-md-9">
                                <input type="text" class="form-control" name="homepage1" placeholder="請輸入網址">
                            </div>
                            <label class="col-xl-12 col-md-3 form-control-label">
                                相關網址文字說明：
                                <span class="panel-desc">※ 如果有設定網址，說明必填</span>
                            </label>
                            <div class=" col-xl-12 col-md-9" style="padding-top:5px;">
                                <input type="text" class="form-control" name="homepage_momo" placeholder="請輸入說明">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-12 col-md-3 form-control-label">
                                檔案上傳-1
                                <span class="panel-desc">※ 如果有上傳檔案，檔案說明必填</span>
                            </label>
                            <div class="col-xl-12 col-md-9">
                                <div class="input-group input-group-file" data-plugin="inputGroupFile">
                                    <input type="text" class="form-control" readonly="">
                                    <span class="input-group-btn">
                                        <span class="btn btn-success btn-file">
                                            <i class="icon wb-upload" aria-hidden="true"></i>
                                            <input type="file" name="" multiple="">
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class=" col-xl-12 col-md-9" style="padding-top:5px;">
                                <input type="text" class="form-control" name="file1_memo" placeholder="請輸入檔案說明">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-12 col-md-9">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button">+ 新增一組檔案上傳</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 form-horizontal">
                        <div class="form-group row">
                            <label class="form-control-label">首頁置頂</label>
                            <div>
                                <div class="d-flex flex-column">
                                    <div class="checkbox-custom checkbox-primary">
                                        <input type="checkbox" id="inputForProject" value="project">
                                        <label for="inputForProject"><span class="panel-desc">如在首頁要放在單元頂層，請打勾</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-xl-12 col-md-3 form-control-label">
                                置頂於入口首頁的說明：
                                <span class="panel-desc">※ 如果有設定置頂，說明必填</span>
                            </label>
                            <div class=" col-xl-12 col-md-9" style="padding-top:5px;">
                                <input type="text" class="form-control" name="post_out_txt" placeholder="請輸入說明">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-12 col-md-3 form-control-label">
                                主標題
                                <span class="required">*</span>
                            </label>
                            <div class=" col-xl-12 col-md-9">
                                <input type="text" class="form-control" name="subject" placeholder="請輸入主標題" required="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-12 col-md-3 form-control-label">
                                內文
                                <span class="required">*</span>
                            </label>
                            <div class="col-xl-12 col-md-9">
                                <textarea class="form-control" name="skills" rows="10" placeholder="編輯內文請按「Enter」分段落" required=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="form-group col-xl-12 text-right padding-top-m">
                    <a href='@Url.Action("Index","News")' class="btn btn-default">取消</a>
                    <button type="submit" class="btn btn-primary" id="validateButton1">確認</button>
                </div>
            </div>
        </div>
        <!-- /內文編輯區 -->
    </form>
</div>

