@model AnlandProject.Backend.Models.DialogViewModel

<div class="modal fade" id="@Model.ID" aria-labelledby="@Model.ID" role="dialog" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-simple modal-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">@Model.Title</h4>
            </div>
            <div class="modal-body" data-content ="@Html.Raw(Model.Content)">
                <p>@Html.Raw(Model.Content)</p>
            </div>
            <div class="modal-footer">
                @using (Ajax.BeginForm(Model.ActionName, Model.ControllerName, null, new AjaxOptions { HttpMethod = "POST", OnSuccess = Model.OnSuccessFunction, OnFailure = Model.OnFailureFunction }))
                {
                    @Html.AntiForgeryToken()
                    if (Model.OfferCancelButton)
                    {
                        <button type="button" class="btn btn-default" id="@(Model.ID)_CancelButton" data-dismiss="modal">取消</button>
                    }
                    <button type="submit" class="btn btn-primary" id="@(Model.ID)_ConfirmButton" onclick="$('#@Model.ID').modal('toggle');">@Model.ConfirmText</button>
                    @Html.Hidden("id", "")
                    @Html.Hidden("type", "")
                }
            </div>
        </div>
    </div>
</div>