@model AnlandProject.Service.BusinessModel.FAQModel

@{
    ViewBag.Title = "基隆市安樂地政事務所全球資訊網 - 民意交流-地政答客問";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

@section AdditionalMeta
{
    <link rel="govtwsimpledc.xsd" href="http://www.gov.tw/schema/dc/" title="Dublin Core" />
    <meta name="DC.Title" content="基隆市安樂地政事務所全球資訊網 - 意見交流 - 地政答客問" />
    <meta name="DC.Creator" content="基隆市安樂地政事務所登記課" />
    <meta name="DC.Subject" content="基隆市安樂地政事務所 - 意見交流 - 地政答客問" />
    <meta name="DC.Description" content="意見交流 - 地政答客問" />
    <meta name="DC.Contributor" content="基隆市安樂地政事務所" />
    <meta name="DC.Type" content="文字" />
    <meta name="DC.Format" content="text/html" />
    <meta name="DC.Source" content="基隆市安樂地政事務所" />
    <meta name="DC.Language" content="中文" />
    <meta name="DC.Coverage.t.max" content="2015-04-26" />
    <meta name="DC.Coverage.t.min" content="2010-04-26" />
    <meta name="DC.Publisher" content="基隆市安樂地政事務所" />
    <meta name="DC.Date" content="2010-04-26 10:00 " />
    <meta name="DC.Identifier" content="376570600A" />
    <meta name="DC.Relation" content="http://anleh-land.gov.tw/" />
    <meta name="DC.Rights" content="基隆市安樂地政事務所" />
    <meta name="Category.Theme" content="140" />
    <meta name="Category.Cake" content="CKA" />
    <meta name="Category.Service" content="I60" />
    <meta name="Keywords" content="意見交流, 地政答客問" />
}

<!-- 公告區 -->
<div class="container d-print-none">
    <div class="pl-3">
        <a accesskey="C" href="#content" id="content" title="中央內容區塊">:::</a>
        <span class="sr-only">|</span>
        <a class="sr-only sr-only-focusable" href="#footer">轉跳至下方功能區</a>
    </div>
    <div class="row justify-content-between align-items-center">
        <!-- 麵包屑麵包屑 -->
        <div class="col-lg-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item pathTitle">現在位置</li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Home")">首頁</a>
                    </li>
                    <li class="breadcrumb-item">
                        民意交流
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">地政答客問</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-6 d-flex justify-content-end align-items-center">
            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <a class="btn btn-fb btn-sm" role="button" role="button" title="網站分享至facebook(另開視窗)" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://anleh-land.gov.tw/">
                    <span class="fab fa-facebook-square"></span>
                </a>
                <a class="btn btn-print btn-sm" role="button" title="列印(另開視窗)" target="_blank" href="javascript:print()">
                    <span class="far fa-print"></span>
                </a>
                <span class="fontSizeSet">字級設定：</span>
                <div class="btn-group fontSizeSetGroup btn-group-toggle mr-3" data-toggle="buttons">
                    <label class="btn btn-outline-secondary btn-sm font-small" for="option1">
                        <span class="sr-only">小字型</span>
                        <input type="radio" name="小字型" title="小字型" id="option1" autocomplete="off"> 小
                    </label>
                    <label class="btn btn-outline-secondary btn-sm font-default active" for="option2">
                        <span class="sr-only">中字型</span>
                        <input type="radio" name="中字型" title="中字型" id="option2" autocomplete="off" checked> 中
                    </label>
                    <label class="btn btn-outline-secondary btn-sm font-large" for="option3">
                        <span class="sr-only">大字型</span>
                        <input type="radio" name="大字型" title="大字型" id="option3" autocomplete="off"> 大
                    </label>
                </div>
            </div>
        </div>
        <!-- /麵包屑 -->
    </div>
</div>
<!-- 內文區 -->
<div class="container">
    <div class="row">
        <div class="card ml-3 mr-3 mt-3 subContent">
            <div class="card-body">
                <div class="markTag"></div>
                <h2>地政答客問</h2>
                <div class="container pl-0 pt-3">
                    <div class="row">
                        <div class="col-lg-12" id="sec01">
                            <h3>
                                <span class="fas fa-comment" aria-hidden="true"></span> @Model.MsgSubject
                            </h3>
                            <p class="ml-4">
                                <span class="far fa-diamond" aria-hidden="true"></span> 留言日期：@Model.MsgDate.ToString("yyyy/MM/dd")
                            </p>
                            <p class="ml-4">
                                <span class="far fa-diamond" aria-hidden="true"></span> 留言內容：
                            </p>
                            <p class="ml-4">
                                <span style="white-space: pre-line">
                                    @HttpUtility.HtmlDecode(Model.MsgContent)
                                </span>                                
                            </p>
                            <div class="alert alert-secondary bg-lightreay" role="alert">
                                <h3 class="pl-0">
                                    <span class="fas fa-comment-alt-smile"></span> 回覆內容：
                                </h3>
                                @if (Model.RpyDate.HasValue && Model.RpyDate.Value != DateTime.MinValue)
                                {
                                    <div class="row ml-2 mb-3">
                                        <div class="col-lg-6">
                                            <span class="fas fa-diamond" aria-hidden="true"></span> 回覆單位：@string.Format("基隆市安樂地政事務所{0}", Model.RpyUnit)
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="fas fa-diamond" aria-hidden="true"></span> 回覆日期：@Model.RpyDate.Value.ToString("yyyy/MM/dd")
                                        </div>
                                    </div>
                                    <div class="row ml-2 mb-3">
                                        <div class="col-lg-6">
                                            <span class="fas fa-diamond" aria-hidden="true"></span> 回覆人：@Model.RpyName
                                        </div>
                                        <div class="col-lg-6">
                                            <span class="fas fa-diamond" aria-hidden="true"></span> 聯絡電話：@Model.RpyTel
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="pl-0 ml-4">
                                                <span class="fas fa-diamond" aria-hidden="true"></span> 回覆內容：
                                            </p>
                                            <p class="pl-4">
                                                <span style="white-space: pre-line">
                                                    @HttpUtility.HtmlDecode(Model.RpyContent)
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="darkblue pl-4">您好！您的留言信件已寄送中，目前正在收件處理中...</p>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="col-lg-12 d-flex mt-3 justify-content-end align-items-center d-print-none">
                                <a class="btn btn-primary btn-sm mr-0" role="button" href="@Url.Action("EmailSuggest","OpinionExchange")">
                                    <span class="fal fa-external-link-square" aria-hidden="true"></span> 回導覽頁
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /內文區 -->