@model AnlandProject.Service.BusinessModel.QaModel
@{
    ViewBag.Title = "QaEdit";
    Layout = "~/Views/Shared/_AnlandLayout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css">
    <style>
        .hide {
            display: none !important;
        }
    </style>
}

<div class="page-header">
    <h1 class="page-title">Q & A - @ViewBag.Subtitle</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href='@Url.Action("Index","Home")'>首頁</a></li>
        <li class="breadcrumb-item active">Q & A</li>
    </ol>
    <div class="page-header-actions"></div>
</div>
<div class="page-content container-fluid">
    <form id="qaEditForm" class="FullForm" autocomplete="off">
        <!-- 分類檢索設定 -->
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title">
                    分類檢索設定
                </h3>
            </div>
            <div class="panel-body">
                <div class="row row-lg">
                    <div class="col-md-4 form-horizontal">
                        <!-- 主題分類 -->
                        <div class="form-group row">
                            <label class="col-xl-12 col-md-3" for="Theme">
                                主題分類
                                <span class="required">*</span>
                            </label>
                            <div class=" col-xl-12 col-md-9">
                                @Html.DropDownList("Theme", null, "請選擇主題分類代碼", new { @class = "show-tick", @data_plugin = "selectpicker", @id = "Theme", @required = "" })
                            </div>
                        </div>
                        <!-- /主題分類 -->
                    </div>
                    <div class="col-md-4 form-horizontal">
                        <!-- 施政分類 -->
                        <div class="form-group row">
                            <label class="col-xl-12 col-md-3" for="Cake">
                                施政分類
                                <span class="required">*</span>
                            </label>
                            <div class=" col-xl-12 col-md-9">
                                @Html.DropDownList("Cake", null, "請選擇施政分類代碼", new { @class = "show-tick", @data_plugin = "selectpicker", @id = "Cake", @required = "" })
                            </div>
                        </div>
                        <!-- /施政分類 -->
                    </div>
                    <div class="col-md-4 form-horizontal">
                        <!-- 服務分類 -->
                        <div class="form-group row">
                            <label class="col-xl-12 col-md-3" for="Service">
                                服務分類
                                <span class="required">*</span>
                            </label>
                            <div class=" col-xl-12 col-md-9">
                                @Html.DropDownList("Service", null, "請選擇服務分類代碼", new { @class = "show-tick", @data_plugin = "selectpicker", @id = "Service", @required = "" })
                            </div>
                        </div>
                        <!-- /服務分類 -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /分類檢索設定 -->
        <!-- 內文編輯區 -->
        <div class="panel panel-bordered">
            <div class="panel-heading">
                <h3 class="panel-title">內文編輯區</h3>
            </div>
            <div class="panel-body">
                <div class="row row-lg">
                    <div class="col-xl-5 form-horizontal">
                        <div class="form-group row">
                            <div class="col-xl-6 col-md-9">
                                <label class="form-control-label row" for="author">
                                    QA類別
                                    <span class="required">*</span>
                                </label>
                                @Html.DropDownList("Classfy", null, "請選擇QA類別", new { @class = "show-tick", @data_plugin = "selectpicker", @id = "classfy", @required = "" })
                            </div>
                            <div class="col-xl-6 col-md-9">
                                <label class="form-control-label row">
                                    發布單位
                                    <span class="required">*</span>
                                </label>
                                <div class="input-group">
                                    @Html.DropDownList("CreatedDeptID", null, new { @class = "show-tick", @data_plugin = "selectpicker", @id = "office", @required = "" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-6 col-md-9">
                                <label class="form-control-label row">
                                    連絡人
                                    <span class="required">*</span>
                                </label>
                                @Html.TextBoxFor(l => l.CreatedUser, new { @class = "form-control", @name = "owner", @placeholder = "訊息聯絡人姓名", @required = "" })
                            </div>
                            <div class="col-xl-6 col-md-9">
                                <label class="form-control-label row">
                                    連絡人電話
                                    <span class="required">*</span>
                                </label>
                                @Html.TextBoxFor(l => l.CreatedUserPhone, new { @class = "form-control", @name = "ownerPhone", @placeholder = "訊息聯絡人電話", @required = "" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-6 col-md-9">
                                <div class="row">
                                    <label class="form-control-label">
                                        發布日期
                                        <span class="required">*</span>
                                    </label>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="icon wb-calendar" aria-hidden="true"></i>
                                    </span>
                                    @Html.TextBoxFor(l => l.SubmitDate, String.Format("{0:yyyy/MM/dd}", Model.SubmitDate), new { @class = "form-control", @data_plugin = "datepicker", @data_Format = "yyyy/mm/dd", @data_language = "zh-TW", @placeholder = "YYYY/MM/DD", @required = "" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 form-horizontal">
                        <div class="form-group row">
                            <label class="col-xl-12 col-md-3 form-control-label">
                                主標題
                                <span class="required">*</span>
                            </label>
                            <div class=" col-xl-12 col-md-9">
                                @Html.TextBoxFor(l => l.Subject, new { @class = "form-control", @name = "subject", @placeholder = "請輸入主標題", @required = "" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-12 col-md-3 form-control-label">
                                內文
                                <span class="required">*</span>
                            </label>
                            <div class="col-xl-12 col-md-9">
                                @{
                                    Model.Content = HttpUtility.HtmlDecode(Model.Content);
                                }
                                @Html.TextAreaFor(l => l.Content, new { @class = "form-control", @name = "skills", @rows = "10", @placeholder = "編輯內文請按「Enter」分段落", @required = "" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="form-group col-xl-12 text-right padding-top-m">
                    <a href='@Url.Action("Index","Qa")' class="btn btn-default">取消</a>
                    <button type="submit" class="btn btn-primary">確認</button>
                </div>
            </div>
        </div>
        <!-- /內文編輯區 -->
    </form>    
</div>

@section scripts{
    <script src="~/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/global/vendor/bootstrap-datepicker/bootstrap-datepicker.zh-TW.min.js"></script>
    <script>
        var EditType = '@Model.ID';

        $(document).ready(function () {
            $('#SubmitDate').on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });

            $('#qaEditForm').formValidation({
                framework: "bootstrap4",
                icon: null,
                fields: {
                    Theme: {
                        validators: {
                            notEmpty: {
                                message: '請選擇主題分類代碼'
                            }
                        }
                    },
                    Cake: {
                        validators: {
                            notEmpty: {
                                message: '請選擇施政分類代碼'
                            }
                        }
                    },
                    Service: {
                        validators: {
                            notEmpty: {
                                message: '請選擇服務分類代碼'
                            }
                        }
                    },
                    Classfy: {
                        validators: {
                            notEmpty: {
                                message: '請選擇QA類別'
                            }
                        }
                    },
                    CreatedDepID: {
                        validators: {
                            notEmpty: {
                                message: '請選擇訊息聯絡單位'
                            }
                        }
                    },
                    CreatedUser: {
                        validators: {
                            notEmpty: {
                                message: '請輸入聯絡人姓名'
                            }
                        }
                    },
                    CreatedUserPhone: {
                        validators: {
                            notEmpty: {
                                message: '請輸入聯絡人電話'
                            }
                        }
                    },
                    Subject: {
                        validators: {
                            notEmpty: {
                                message: '請輸入標題名稱'
                            }
                        }
                    },
                    Content: {
                        validators: {
                            notEmpty: {
                                message: '請輸入內文'
                            }
                        }
                    },
                    SubmitDate: {
                        validators: {
                            notEmpty: {
                                message: '請輸入發布日期，格式範例：2018/10/05'
                            }
                        }
                    }
                },
                err: {
                    clazz: 'invalid-feedback'
                },
                control: {
                    // The CSS class for valid control
                    valid: 'is-valid',

                    // The CSS class for invalid control
                    invalid: 'is-invalid'
                },
                row: {
                    invalid: 'has-danger'
                }
            })
                .on('change', '[id="SubmitDate"]', function (e) {
                    $('#qaEditForm').formValidation('revalidateField', 'SubmitDate');
                })
                .on('success.form.fv', function (e) {
                    // Prevent form submission
                    e.preventDefault();

                    var $form = $(e.target),
                        formData = new FormData(),
                        //fv = $form.data('formValidation');
                        postData = $form.serializeArray();

                    formData.append('ID', EditType);
                    $.each(postData, function (i, val) {
                        formData.append(val.name, val.value);
                    });

                    // Use Ajax to submit form data
                    $.ajax({
                        url: '@Url.Action("QaSave", "Qa")',
                        type: "post",
                        headers: {
                            'RequestVerificationToken': '@CommonRazorFunctions.GetAntiForgeryToken()'
                        },
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            if (result) {
                                var url = '/Qa';
                                if (EditType > 0) {
                                    SuccessMSGAfterAction("更新成功", url, 1000);
                                } else {
                                    SuccessMSGAfterAction("新增成功", url, 1000);
                                }
                            } else {
                                ErrorMSG('異動失敗');
                            }
                        }
                    });
                });
        });
    </script>
}