
<div class="panel panel-bordered col-md-12">
    <div class="row">
        <!-- 分類檢索設定 - 主題分類 -->
        <div class="col-md-4">
            <div class="panel-heading">
                <h3 class="panel-title">分類檢索設定 - 主題分類</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xl-6">
                        <a href="#edittheme" class="btn btn-md btn-primary" style="margin-right:20px;" data-toggle="modal" datatype="Theme">
                            <i class="icon wb-plus" aria-hidden="true"></i> 新增主題分類
                        </a>
                    </div>
                    <div class="form-group col-xl-3"> </div>
                </div>
                <div class="table-responsive">
                    <table id="themeTable" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">代碼</th>
                                <th class="text-center">分類名稱</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <!-- /分類檢索設定 - 主題分類 -->
        <!-- 分類檢索設定 - 施政分類 -->
        <div class="col-md-4">
            <div class="panel-heading">
                <h3 class="panel-title">分類檢索設定 - 施政分類</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xl-6">
                        <a href="#edittheme" class="btn btn-md btn-primary" style="margin-right:20px;" data-toggle="modal" datatype="Cake">
                            <i class="icon wb-plus" aria-hidden="true"></i> 新增施政分類
                        </a>
                    </div>
                    <div class="form-group col-xl-3"> </div>
                </div>
                <div class="table-responsive">
                    <table id="cakeTable" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">代碼</th>
                                <th class="text-center">分類名稱</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <!-- /分類檢索設定 - 施政分類 -->
        <!-- 分類檢索設定 - 服務分類 -->
        <div class="col-md-4">
            <div class="panel-heading">
                <h3 class="panel-title">分類檢索設定 - 服務分類</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xl-6">
                        <a href="#edittheme" class="btn btn-md btn-primary" style="margin-right:20px;" data-toggle="modal" datatype="Service">
                            <i class="icon wb-plus" aria-hidden="true"></i> 新增服務分類
                        </a>
                    </div>
                    <div class="form-group col-xl-3"> </div>
                </div>
                <div class="table-responsive">
                    <table id="serviceTable" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">代碼</th>
                                <th class="text-center">分類名稱</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <!-- /分類檢索設定 - 服務分類 -->
    </div>
</div>

<!--EditModel-->
<div class="modal fade" id="edittheme" aria-labelledby="edittheme" role="dialog" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-simple modal-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 id="modalTitle" class="modal-title">新增分類檢索設定 - 主題分類</h4>
            </div>
            <form id="editForm" class="FullForm" autocomplete="off">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-control-label">
                            代碼
                            <span class="required">*</span>
                        </label>
                        @Html.TextBox("typecode", "", new { @class = "form-control", @placeholder = "請輸入主題代碼", @required = "" })
                        @Html.Hidden("typeid")
                        @Html.Hidden("type")
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">
                            分類名稱
                            <span class="required">*</span>
                        </label>
                        @Html.TextBox("typename", "", new { @class = "form-control", @placeholder = "請輸入主題分類名稱", @required = "" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">確定</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--/EditModel-->
<!-- DeleteModel -->
@Html.Action("ClassificationSearchDeleteConfirmDialog", "TypeSetting")
<!-- /DeleteModel -->

<script>
    var urlQueryTheme = '@Url.Action("ThemeQuery", "TypeSetting")';
    var urlQueryCake = '@Url.Action("CakeQuery", "TypeSetting")';
    var urlQueryService = '@Url.Action("ServiceQuery", "TypeSetting")';
    var urlSaveTheme = '@Url.Action("ClassificationSearchSave", "TypeSetting")';

    $(document).ready(function () {
        ThemeBinding();
        CakeBinding();
        ServiceBinding();

        $('#themeTable,#cakeTable,#serviceTable').on('click', '#themeModal,#cakeModal,#serviceModal', function () {
            var tds = $(this).parent().siblings();
            $('#editForm input[name=typeid]').val($(this).attr('typeid'));                
            $('#editForm input[name=typecode]').val(tds[0].innerText);
            $('#editForm input[name=typename]').val(tds[1].innerText);
        });

        $('#edittheme').on('shown.bs.modal', function (e) {
            var titleStr = '';
            var typeStr = e.relatedTarget.getAttribute('datatype');
            switch (typeStr) {
                case 'Theme':
                    titleStr = '分類檢索設定 - 主題分類';
                    break;
                case 'Cake':
                    titleStr = '分類檢索設定 - 施政分類';
                    break;
                case 'Service':
                    titleStr = '分類檢索設定 - 服務分類';
                    break;
                default:
            }

            var editStr = '新增';
            if ($('#editForm input[name=typeid]').val().length > 0) {
                editStr = '編輯';
            }
            $('#modalTitle').html(editStr + titleStr);
            $('#editForm input[name=type]').val(typeStr);
            $('#editForm').formValidation('resetForm', false);
        });

        $('#edittheme').on('hidden.bs.modal', function () {
            $('#editForm input[name=typeid]').val('');
            $('#editForm input[name=typecode]').val('');
            $('#editForm input[name=typename]').val('');
        });

        $('#editForm').formValidation({
            framework: "bootstrap4",
            icon: null,
            fields: {
                typecode: {
                    validators: {
                        notEmpty: {
                            message: '請輸入代碼'
                        }
                    }
                },
                typename: {
                    validators: {
                        notEmpty: {
                            message: '請輸入分類名稱'
                        }
                    }
                }
            },
            err: {
                clazz: 'invalid-feedback'
            },
            control: {
                // The CSS class for valid control
                valid: 'is-valid',

                // The CSS class for invalid control
                invalid: 'is-invalid'
            },
            row: {
                invalid: 'has-danger'
            }
        })
            .on('success.form.fv', function (e) {
                // Prevent form submission
                e.preventDefault();

                // Use Ajax to submit form data
                $.ajax({
                    url: urlSaveTheme,
                    type: "post",
                    headers: {
                        'RequestVerificationToken': '@CommonRazorFunctions.GetAntiForgeryToken()'
                    },
                    data: {
                        ID: $('#editForm input[name=typeid]').val(),
                        TypeCode: $('#editForm input[name=typecode]').val(),
                        TypeName: $('#editForm input[name=typename]').val(),
                        Type: $('#editForm input[name=type]').val()
                    },
                    dataType: 'json',
                    success: function (result) {
                        if (result) {
                            $('#edittheme').modal('toggle');
                            var url = '/TypeSetting';
                            if ($('#editForm input[name=typeid]').val() > 0) {
                                SuccessMSGAfterAction("更新成功", url, 1000);
                            } else {
                                SuccessMSGAfterAction("新增成功", url, 1000);
                            }
                        } else {
                            ErrorMSG('異動失敗');
                        }
                    }
                });
            });
    });


    function ThemeBinding() {
        var _tmpOpts = $.extend({}, pfnDataTable.defOpts);
        _tmpOpts.ajax = {
            "url": urlQueryTheme,
            "type": 'POST'
        };
        _tmpOpts.columns = [
            { mDataProp: "TypeCode", className: 'text-center' },
            { mDataProp: "TypeName", className: 'text-center' },
            {
                mDataProp: null,
                render: function (data, type, full, meta) {
                    var tag =
                        '<a href="#edittheme" id="themeModal" class="btn btn-pure btn-default p-5 btn-primary" typeid = "' + data.ID + '" data-toggle="modal" datatype="Theme" >' +
                        '<span class="icon wb-pencil" data - toggle="tooltip" data - placement="top" data - original - title="編輯" ></span >' +
                        '</a >' +
                        '<a href="#ClassificationSearchDeleteConfirmDialog" class="btn btn-pure btn-default p-5 btn-warning" data-contentargs="[&quot;' + data.TypeCode + '-' + data.TypeName + '&quot;]" data-id="' + data.ID + '" data-type="Theme" data-toggle="modal">' +
                        '<span class=" icon wb-trash" data-toggle="tooltip" data-placement="top" data-original-title="刪除"></span>' +
                        '</a>'
                    return tag;
                }
            }
        ];

        if ($.fn.DataTable.isDataTable('#themeTable')) {
            $('#themeTable').DataTable().destroy();
            $('#themeTable  tbody tr').remove();
        }
        $('#themeTable').DataTable(_tmpOpts);
    }

    function CakeBinding() {
        var _tmpOpts = $.extend({}, pfnDataTable.defOpts);
        _tmpOpts.ajax = {
            "url": urlQueryCake,
            "type": 'POST'
        };
        _tmpOpts.columns = [
            { mDataProp: "TypeCode", className: 'text-center' },
            { mDataProp: "TypeName", className: 'text-center' },
            {
                mDataProp: null,
                render: function (data, type, full, meta) {
                    var tag =
                        '<a href="#edittheme" id="cakeModal" class="btn btn-pure btn-default p-5 btn-primary" typeid = "' + data.ID + '" data-toggle="modal" datatype="Cake" >' +
                        '<span class="icon wb-pencil" data - toggle="tooltip" data - placement="top" data - original - title="編輯" ></span >' +
                        '</a >' +
                        '<a href="#ClassificationSearchDeleteConfirmDialog" class="btn btn-pure btn-default p-5 btn-warning" data-contentargs="[&quot;' + data.TypeCode + '-' + data.TypeName + '&quot;]" data-id="' + data.ID + '" data-type="Cake" data-toggle="modal">' +
                        '<span class=" icon wb-trash" data-toggle="tooltip" data-placement="top" data-original-title="刪除"></span>' +
                        '</a>'
                    return tag;
                }
            }
        ];

        if ($.fn.DataTable.isDataTable('#cakeTable')) {
            $('#cakeTable').DataTable().destroy();
            $('#cakeTable  tbody tr').remove();
        }
        $('#cakeTable').DataTable(_tmpOpts);
    }

    function ServiceBinding() {
        var _tmpOpts = $.extend({}, pfnDataTable.defOpts);
        _tmpOpts.ajax = {
            "url": urlQueryService,
            "type": 'POST'
        };
        _tmpOpts.columns = [
            { mDataProp: "TypeCode", className: 'text-center' },
            { mDataProp: "TypeName", className: 'text-center' },
            {
                mDataProp: null,
                render: function (data, type, full, meta) {
                    var tag =
                        '<a href="#edittheme" id="serviceModal" class="btn btn-pure btn-default p-5 btn-primary" typeid = "' + data.ID + '" data-toggle="modal" datatype="Service" >' +
                        '<span class="icon wb-pencil" data - toggle="tooltip" data - placement="top" data - original - title="編輯" ></span >' +
                        '</a >' +
                        '<a href="#ClassificationSearchDeleteConfirmDialog" class="btn btn-pure btn-default p-5 btn-warning" data-contentargs="[&quot;' + data.TypeCode + '-' + data.TypeName + '&quot;]" data-id="' + data.ID + '" data-type="Service" data-toggle="modal">' +
                        '<span class=" icon wb-trash" data-toggle="tooltip" data-placement="top" data-original-title="刪除"></span>' +
                        '</a>'
                    return tag;
                }
            }
        ];

        if ($.fn.DataTable.isDataTable('#serviceTable')) {
            $('#serviceTable').DataTable().destroy();
            $('#serviceTable  tbody tr').remove();
        }
        $('#serviceTable').DataTable(_tmpOpts);
    }
</script>